flows.json
[{"id":"e2afc742.050948","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"1cba5143.3ce0df","type":"ui_form","z":"e2afc742.050948","name":"","label":"","group":"d6d226b1.0520d8","order":1,"width":0,"height":0,"options":[{"label":"radius_mean","value":"rm","type":"number","required":true,"rows":null},{"label":"perimeter_mean","value":"pm","type":"number","required":true,"rows":null},{"label":"area_mean","value":"am","type":"number","required":true,"rows":null},{"label":"compactness_mean","value":"cm","type":"number","required":true,"rows":null},{"label":"concavity_mean","value":"cnm","type":"number","required":true,"rows":null},{"label":"concave points_mean","value":"cpm","type":"number","required":true,"rows":null}],"formValue":{"rm":"","pm":"","am":"","cm":"","cnm":"","cpm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":93,"y":279.00000381469727,"wires":[["850857e6.68ab68","c07032c.5e8bdd"]]},{"id":"850857e6.68ab68","type":"debug","z":"e2afc742.050948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":360,"wires":[]},{"id":"c07032c.5e8bdd","type":"function","z":"e2afc742.050948","name":"pre-token","func":"global.set(\"rm\",msg.payload.rm)\nglobal.set(\"pm\",msg.payload.pm)\nglobal.set(\"am\",msg.payload.am)\nglobal.set(\"cm\",msg.payload.cm)\nglobal.set(\"cnm\",msg.payload.cnm)\nglobal.set(\"cpm\",msg.payload.cpm)\nvar apikey=\"EyR_XYSSwn1QSuk6hZbocDZY-AZWbcBHwHgjNH-KfBSM\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":220,"wires":[["95ed723a.2ed77"]]},{"id":"95ed723a.2ed77","type":"http request","z":"e2afc742.050948","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":264.00000286102295,"wires":[["81d70830.f894d8","d3974b8f.86e028"]]},{"id":"81d70830.f894d8","type":"debug","z":"e2afc742.050948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":320,"wires":[]},{"id":"d3974b8f.86e028","type":"function","z":"e2afc742.050948","name":"Pre Prediction","func":"var rm = global.get(\"rm\")\nvar pm = global.get(\"pm\")\nvar am = global.get(\"am\")\nvar cm = global.get(\"cm\")\nvar cnm = global.get(\"cnm\")\nvar cpm = global.get(\"cpm\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"id\",\"radius_mean\",\"texture_mean\",\"perimeter_mean\",\"area_mean\",\"smoothness_mean\",\"compactness_mean\",\"concavity_mean\",\"concave points_mean\",\"symmetry_mean\",\"fractal_dimension_mean\",\"radius_se\",\"texture_se\",\"perimeter_se\",\"area_se\",\"smoothness_se\",\"compactness_se\",\"concavity_se\",\"concave points_se\",\"symmetry_se\",\"fractal_dimension_se\",\"radius_worst\",\"texture_worst\",\"perimeter_worst\",\"area_worst\",\"smoothness_worst\",\"compactness_worst\",\"concavity_worst\",\"concave points_worst\",\"symmetry_worst\",\"fractal_dimension_worst\",\"Unnamed: 32\"],\"values\":[[null,17.99,null,122.8,1001,null,0.2776,0.3001,0.1471,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null,null]]}]}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":216.0000021457672,"wires":[["e5d2a76f.3fc8d8"]]},{"id":"e5d2a76f.3fc8d8","type":"http request","z":"e2afc742.050948","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/3066a0d8-df8e-4ad9-bdb5-f6953430f64f/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":240,"wires":[["fce6eb95.4951e8","5c2462dc.461d1c"]]},{"id":"fce6eb95.4951e8","type":"debug","z":"e2afc742.050948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":962.9999914169312,"y":324.00000381469727,"wires":[]},{"id":"b5aa1b59.870be8","type":"inject","z":"e2afc742.050948","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["c07032c.5e8bdd"]]},{"id":"845f419a.a2cc7","type":"debug","z":"e2afc742.050948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":793.9999885559082,"y":107.0000057220459,"wires":[]},{"id":"5c2462dc.461d1c","type":"function","z":"e2afc742.050948","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":148.00000190734863,"wires":[["845f419a.a2cc7","aa056ce5.5241a"]]},{"id":"aa056ce5.5241a","type":"ui_text","z":"e2afc742.050948","group":"d6d226b1.0520d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":381.20001220703125,"wires":[]},{"id":"d6d226b1.0520d8","type":"ui_group","z":"","name":"Breast Cancer Prediction","tab":"6b44e4bf.06f99c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b44e4bf.06f99c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]